[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
starlette = "*"
uvicorn = {extras = ["standard"], version = "*"}
jinja2 = "*"

[dev-packages]
mypy = "*"
isort = "*"
black = "==21.11b1"

[requires]
python_version = "3.9"
